// 一级菜单样式
ul.el-menu {
  border-right: none;
}
li.el-submenu {
  &.is-active.is-opened .el-submenu__title{
    background-color: rgb(42, 59, 76) !important;
  }
}
// 子级菜单样式
.el-submenu .el-menu-item {
  font-size: 14px;
  &.is-active {
    background-color: rgba(235, 241, 251,0.2) !important;
  }
}

.close {
  ul.el-menu {
    width: 64px;
    -webkit-transition: all 1s ease-in-out 0s;
  }
}
